.curriculum-content-container {
  width: 100%;

  .curriculum-form__container {
    display: flex;
    flex-direction: column;
    width: 100%;
  
    .curriculum-top-container {
      display: flex;
      flex-direction: column;
      width: 100%;
  
      .curriculum-top-form {
        display: flex;

        .curriculum-form-box {
          width: 50%;
  
          .form-input-container {
            display: flex;
            flex-direction: column;
            padding: 10px 10px;
            width: 100%;
  
            div {
              width: 100%;
              font-size: 16px;
              color: white;
              font-weight: bold;
              padding: 5px 0px;
            }
      
            input {
              width: 100%;
              padding: 5px 10px;
              border: none;
              font-size: 12px;
            }
          }
        }
      }
    }

    .curriculum-bottom-container {
      .form-education-professional{
        display: flex;

        .form-input-formation {
          width: 50%;
        }
      }
      .form-input-container {
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        width: 100%;

        div {
          width: 100%;
          font-size: 16px;
          color: white;
          font-weight: bold;
          padding: 5px 0px;
        }
  
        input, textarea {
          width: 100%;
          padding: 5px 10px;
          border: none;
          font-size: 12px;
        }
      }
    }
  }

  .form-input-formation {
    margin-top: 25px;

    .formation-text {
      font-size: 20px;
      font-weight: bold;
      padding-left: 10px;
      color: darken($third-color-blue, 10);
    }
  }

  footer {
    margin-top: 20px;
    height: 100px;

    button {
      &:first-of-type {
        background-color: $primary-color-green;
      }

      width: 20%;
      padding: 7px;
      margin-top: 20px;
      margin-right: 20px;
      font-size: 16px;
      font-weight: bold;
      align-self: center;
      border: #DADADA;
      color: white;
      border-radius: 0;
      cursor: pointer;
      padding: 10px 5px;
      background-color: $third-color-blue;
    }

  }
}

.curriculum-personal {
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
  color: darken($third-color-blue, 10);
  margin-top: 20px;
}