.curriculum-box-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0px 15px 15px 15px;

  .curriculum-box-info {
    border-bottom: 0px;
    background-color: #f3f3f3;
    color: black;
    width: 100%;
    padding: 10px;
    min-height: 150px;

    &-title {
      font-weight: bold;
      font-size: 18px;
      padding: 10px 0px 0px 10px;
    }

    &-text {
      padding: 10px;
      font-size: 16px;
    }
  }

  .curriculum-box-download {
    width: 100%;
    background-color: #00ab6c;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
  }

  .curriculum-box-download:hover {
    background-color: $secondary-color-green;
  }
}