// base colors
$primary-color-blue: #0078d7;
$primary-color-green: #00ab6c;
$primary-color-red: #b33e3e;

// base sizes
$base-font-size: 14px;

// font-family
$primary-font-family: Arial, sans-serif;
